header{
    height: 225px;
    text-align: center;
    
 }
 
 nav{
    background-color:rgba(66, 66, 66, 0.39);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
 }
 nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 body{
    background-color:  rgb(36, 43, 40);
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 20px;
            text-align: center;
        }
        h1 {
            color: #ffffff;
            margin-bottom: 40px;
        }
        .documents-container {
            margin: 0 auto;
            text-align: center;
            padding-bottom: 150px;
        }
        .document-item {
            background-color: white;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .document-item a {
            text-decoration: none;
            font-size: 18px;
            color: rgb(36, 43, 40);;
        }
        .document-item a:hover {
            text-decoration: underline;
        }
        p {
            color: #777;
            margin-top: 5px;
        }
        .contain{
            margin-left: auto;
            margin-right: auto;
            width: 1024px;
            flex: 1;
         }
         footer{ 
            background-color: rgb(66, 66, 66,0.39);
            text-align: center;
            bottom: 0;
           }
        footer p {
            text-align: center;
            font-size: 14px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 4px;
            padding-bottom: 4px;
            text-align:center ;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-style: italic;
         } 
         
         footer a{
            text-align: center;
            font-size:10px;
            color: white;
            padding-top: 4px;
            padding-bottom: 4px;
         }